.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white url('/images/spinner.gif') center center no-repeat;
  .box-shadow(inset 0 0 180px rgba(0,0,0,0.1));
  z-index: 9999;
}

.navbar.special-feature .brand {
  background-size: auto;
  .transition(all 200ms linear);
}


#main {

  @blueDark: #084975;

  .container {
    max-width: 1100px;
    width: 95%;
    .transition(all 200ms linear);
  }
  section {
    margin-top: 20px;
    margin-bottom: 30px;
    background: url(../images/fade.png) no-repeat bottom center transparent;
    background-size:100% 12px;
    .transition(all 200ms linear);
  }
  h1,h2,h3,h4,h5,p,strong,em {
    .transition(all 200ms linear);
  }

  h3 {
  font-family: @serifFontFamily;
  .font-size(36);
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
    &.line {
      width: 100%;
      margin: 5% 0 2.5%;
        &:before {
          position: relative;
          top: 20px;
          z-index: 1;
          display: block;
          border-bottom: 1px solid #333;
          content: '';
        }
        span {
          position: relative;
          z-index: 2;
          display: inline-block;
          padding: 0 10px;
          background-color: #fff;
        }
    }
  }

  p {
    .font-size(18);
    line-height: 1.4;
    text-align: center;
  }

  .btn-group {
    margin: 10px auto;
    display: block;
    width: 100%;
    clear: both;
    .btn {
      background-color: white;
      border: 1px solid #e5e5e5;
      .box-shadow(none);
      color: @blue;
      padding: 9px 13px 7px;
      &:hover, &.active {
          color: @grayDark;
        }
      &.active {
        color: @grayDark;
        background-color: #f5f5f5;
        .box-shadow(inset 0 2px 8px #ddd);
        &:hover, &.active {
          cursor: default;
        }
      }
    }
  }


  // TITLE
  #title {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 60px;
    h1 {
      .font-size(76);
      letter-spacing: -0.03em;
      margin-bottom: -8px;
      font-style: initial;
    }
    h2 {
      margin: 0 auto;
      .font-size(16);
      line-height: 1.2;
      font-weight: normal;
    }
  }


  // NAVIGATION

  .nav-col .nav {
    margin: 20px 0 0;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
    border: 1px solid #e5e5e5;
    .border-radius(8px);
    overflow: hidden;
    width: 220px;

    &.affix {
      position: fixed;
      width: 220px;
      top: 10px;
    }

    li {
      border-bottom: 1px solid #e5e5e5;
      position: relative;
      background-color: white;
      &:first-child {
        .border-top-radius(6px);
      }
      &:last-child{
        border-bottom: none;
        .border-bottom-radius(6px);
      }
      a {
        display: block;
        padding: 10px 14px;
        background-color: white;
        &:hover, &.active {
          text-decoration:none;
          background-color: #f5f5f5;
        }
        &:first-child {
          .border-top-radius(6px);
        }
        &:last-child{
          .border-bottom-radius(6px);
          behavior: url(../js/libs//PIE.htc);
          overflow: hidden;
        }
      }
      &.active a {
        color: #222;
        background: url(../images/nav-arrow.png) no-repeat 95% center transparent;
        &:hover, &.active {
          cursor: default;
        }
      }

    }

  }

  // MOBILE NAVIGATION

  #nav-mob {
    text-align: center;
    display: none;
      .nav {
        display: block;
        height: 29px;
        width: 100%;
        background-color: white;
        margin: 0 auto;
        text-align: center;
        z-index: 9999;
        margin-top: 10px;
        padding-top: 11px;
        li {
          margin: 0;
          list-style: none;
          display: inline-block;
          .font-size(12);
          font-weight: bold;
          text-transform: uppercase;
          padding: 0px 6px 0 5px;
          border-right: 1px solid #e5e5e5;
          .sml {
            display: none;
          }
          a:hover {
            background-color: transparent;
          }
          &:last-child {
            border: none;
          }
          &.active a {
            color: #222;
            &:hover, &.active {
              cursor: default;
              background-color: none;
            }
          }
        }
      }
  }

  // SECTIONS
  #introduction {
    text-align: center;
    p {
      padding: 0 5% 60px;
    }
  }
  #status {
    padding-bottom: 20px;
    margin-bottom: 40px;
    h3 span {
      background: url(../images/status.svg) no-repeat right 0 white;
      padding-right: 50px;
    }
    table {
      tr {
        display: inline-table; //Fix for background image repeats
        width: 100%;
        &:last-child {
          border-bottom: 1px solid @tableBorder;
        }
        &:first-child {
          background: url(../images/fade.png) no-repeat center top transparent;
          background-size:100% 12px;
        }
        &.incomplete {
          background: url(../images/table-bg.png) repeat-y top right transparent;
          &.ninety {
            background-size: 10% auto;
          }
          &.eighty {
            background-size: 20% auto;
          }
        }
        td, th {
          .font-size(18);
          font-weight: 700;
          font-style: italic;
          line-height: 1;
          color: @grayLight;
          padding: 12px 8px;
          vertical-align: middle;
          &.company {
            color: @grayDark;
            font-style: normal;
            width: 30%;
          }
          &.dollars {
            width: 23%;
          }
          &.attendees {
            width: 13%;
          }
          &.events {
            width: 10%;
          }
          &.data {
            width: 10%;
          }
          &.site {
            .font-size(11);
            font-weight: normal;
            font-style: normal;
            text-transform: uppercase;
            text-align: right;
            width: 15%;
          }
        }
        td.company {
          text-transform: capitalize;
        }
      }
      thead {
        tr:last-child {
          border: none;
        }
        tr:first-child {
          background: none;
        }
        th, th.company, th.site {
          vertical-align: bottom;
          color: @grayLight;
          .font-size(11);
          font-weight: normal;
          font-style: italic;
          line-height: 1;
        }
      }
    }
  }

  .subsection {
    margin-bottom: 20px;
    padding: 20px 0 40px;
    border-bottom: 1px solid @grayLighter;
    strong, em {
      .font-size(20);
      line-height: 1.1;
    }
    h4 {
      font-weight: bold;
      font-weight: 800;
      font-style: italic;
      letter-spacing: -0.05em;
      margin: 0 0 6px;
      &.large {
        .font-size(110);
        margin-top: -10px;
      }
      &.xlarge {
        .font-size(150);
        letter-spacing: -0.07em;
      }
    }
    h5 {
      .font-size(12);
      text-transform: uppercase;
      margin-top: 0;
    }
    .left, .right {
      width: 48%;
      float: left;
      margin-bottom: 20px;
    }
    .left {
      text-align: right;
      margin-right: 2%;
    }
    .right {
      margin-left: 2%;
    }
    p {
        text-align: center;
        &.subhead {
          .font-size(14);
          color: @grayLight;
          padding: 6px 8% 0;
        }
      }


    &.total {
      .pill {
        margin: 0 auto;
        position: relative;
        background: @blue;
        width: 600px;
        height: 200px;
        .border-radius(106px);
        behavior: url(../js/libs//PIE.htc);
        z-index: 1;
        h4, strong, em {
          color: white;
          display: inline-block;
          line-height: 1;
          text-shadow: 0 -1px 0 rgba(0,0,0,.2);
        }
        h4 {
          margin: -10px 0 4px 11%;
        }
        strong {
          margin: 24px 0 0 12%;

          font-weight: bold;
          font-style: normal;
          }
        em {
          margin: 0 0 0 12%;
          font-weight: normal;
        }
        span {
          display: block;
          position: absolute;
          top:0;
          right: 0;
          width: 12%;
          height: 212px;
          background: rgba(255,255,255,.1) url(../images/pill-stripes.png) 0 0 no-repeat;
        }
        &:after {
          content: '';
          position: absolute;
          display: block;
          left: 50%;
          top: 0;
          width: 0;
          height: 100%;
          border-left: 1px solid rgba(255,255,255,.2);
          border-right: 1px solid rgba(0,0,0,.2);
          z-index: -1;
        }
      }
    }
    &.spending {
      overflow: hidden;
      h4 {
        .font-size(56);
      }
      .bar-chart {
        ul {
          margin: 0;
            li {
            .font-size(16);
            position: relative;
            width: 85%;
            list-style: none;
            padding: 6px;
            font-style: italic;
            background: url(../images/spending-bg.png) top left no-repeat;
            margin-bottom: 4px;
            margin-left: 10%;
            &:before {
              content: '';
              position: absolute;
              display: block;
              margin-left: -40px;
              top: 2px;
              width: 26px;
              height: 28px;
              background: url(../images/totals-icons.svg) left 0 no-repeat;
            }
            &:nth-child(2) {
              &:before {
                background-position: left -50px;
              }
            }
            &:nth-child(3) {
              &:before {
                background-position: left -102px;
              }
            }
            &:nth-child(4) {
              &:before {
                background-position: left -206px;
              }
            }
            strong {
              .font-size(16);
            }
            span {
              position: absolute;
              color: @grayLight;
              right: 6px;
            }
          }
        }
      }
    }
    &.cost {
      min-height: 212px;
      .left {
        text-align: left;
          h5 {
            margin-bottom: 0;
          }
          ul {
            margin: 0;
          }
          li.pp {
          float: left;
          .font-size(16);
          line-height: 1;
          text-transform: uppercase;
          font-style: italic;
          list-style: none;
          padding: 15px 5% 10px 50px;
          background: url(../images/events-icons.svg) left 12px no-repeat;
          &:nth-child(2) {
            background-position: left -65px;
            padding-right: 0;
          }
          &:nth-child(3) {
            background-position: left -235px;
          }
          &:nth-child(4) {
            background-position: left -155px;
            padding-right: 0;
          }
          strong {
            display: block;
            .font-size(28);
            font-weight: bold;
            font-weight: 800;
          }
        }
      }
      #perperson-chart {
        clear: both;
        padding-top: 40px;
        text-align: center;
        background: url(../images/fade.png) no-repeat center top transparent;
        background-size:100% 12px;
        .btn-group {
          margin-top: 20px;
        }
      }
    }
    &.alcohol {
      color: white;
      text-shadow: 0 -1px 0 rgba(0,0,0,.2);

      .bottle {
        position: relative;
        height: 185px;
        width: 650px;
        margin: -17px auto 0;
        background: url(../images/bottle.svg) center center no-repeat;
        background-size: contain;
        .text-container {
          position: relative;
          width: 100%;
          margin-left: 40px;
          padding-top: 10px;
        }
        h4 {
          sup {
            .font-size(90);
            padding-left: 4px;
          }
        }
        em {
          position: absolute;
          font-weight: bold;
          left: 165px;
          margin-top: -62px;
          width: 160px;
        }
      }
    }
    &.daily {
      min-height: 190px;
      position: relative;
      h4 {
        float: left;
        margin-right: 14px;
        margin-top: -15px;
        margin-bottom: -4px;
      }
      em {
        float: left;
        width: 35%;
        margin-top: 3.5%;
        font-weight: bold;
      }
      p {
        clear: both;
        .font-size(14);
        padding-right: 20%;
      }
      ul {
        margin: 0 0 0 5%;
      }
      li {
        list-style: none;
        float: left;
        margin: 0 4px 4px 0;
        .pill {
          position: relative;
          width: 14px;
          background: @blue;
          height: 16px;
          .border-bottom-radius(7px);
          behavior: url(../js/libs//PIE.htc);
          &:after {
            content: '';
            display: block;
            position: absolute;
            right:15%;
            top:0;
            background: white;
            width: 2px;
            height: 10px;
            .border-radius(2px);
            .box-shadow(0 0 4px white);
            .opacity(30);
            behavior: url(../js/libs//PIE.htc);
          }
          &.top {
            margin-bottom: 1px;
            background: @pink;
            .border-bottom-radius(0);
            .border-top-radius(7px);
            behavior: url(../js/libs//PIE.htc);
            &:after {
              content: '';
              display: block;
              position: absolute;
              right:15%;
              top:35%;
              background: white;
              width: 2px;
              height: 10px;
              .border-radius(2px);
              .box-shadow(0 0 4px white);
              .opacity(30);
              behavior: url(../js/libs//PIE.htc);
            }
          }
        }
      }
    }
    &.australia {
      text-align: center;
      strong {
        display: block;
        margin-bottom: 10px;
      }
      .map {
        position: relative;
        background: url(../images/aus-map.svg) center center no-repeat transparent;
        background-size: contain;
        width: 575px;
        height: 440px;
        margin: 0 auto 40px;
        ul {
          margin: 0;
          position: relative;
          height: 440px;
          li {
            .font-size(14);
            font-weight: bold;
            list-style: none;
            text-align: left;
            line-height: .9;
            color: white;
            position: absolute;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
            span {
              .font-size(24);
              font-weight: bold;
              font-weight: 800;
              font-style: italic;
              display: block;
            }
            &:first-child {
              margin-top: 106px;
              left:44%;
              color:@pink;
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
            }
            &:nth-child(2) {
              margin-top: 140px;
              right:16%;
            }
            &:nth-child(3) {
              margin-top: 245px;
              right: 14%;
            }
            &:nth-child(4) {
              margin-top: 298px;
              right:2%;
              color:@grayDark;
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
            }
            &:nth-child(5) {
              margin-top: 315px;
              right: 17%;
            }
            &:nth-child(6) {
              margin-top: 387px;
              right: 12%;
              color:@pink;
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
            }
            &:nth-child(7) {
              margin-top: 211px;
              right:40%;
              color:@pink;
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
            }
            &:nth-child(8) {
              margin-top: 175px;
              left:13%;
              color:@pink;
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
            }
          }
        }
      }
    }
    &.world {
      text-align: center;
      ul#countries {
        width:650px;
        margin: 20px auto 0;
        min-height: 200px;
        li {
          list-style: none;
          text-align: left;
          .font-size(16);
          ul {
            float: left;
            margin: 0 7px;
            li {
              font-style: italic;
              &:first-child {
                font-weight: bold;
                font-style: normal;
                &:before {
                  content: '';
                  display: block;
                  width: 110px;
                  height: 65px;
                  margin: 0 5px 5px 0;
                  background: url(../images/flags.svg) left top no-repeat transparent;
                }
              }
            }
          }
        }
      }
    }
    &.attendees {
      text-align: center;
      border-bottom: none;
    }
  }

  #dont-know {
    .subsection {
      position: relative;
      .text {
        max-width: 60%;
        margin-left: 2%;
        p,strong, em {
          .font-size(24);
          line-height: 1.3;
          text-align: left;
        }
      }
      &.doctors {
        .doctor {
          position: absolute;
          right:2%;
          top: 5%;
          background: url(../images/doctor.svg) center center no-repeat white;
          background-size: 96% auto;
          width:220px;
          height: 200px;
          border: 1px solid #e5e5e5;
          .border-radius(2px);
          .box-shadow(0 1px 3px #e5e5e5);
        }
      }
      &.drugs {
        .text {
          float: none;
          margin-left: 300px;
        }
        .drug {
          position: absolute;
          left:2%;
          top: -45px;
          background: url(../images/drugs-in-question.svg) center center no-repeat transparent;
          background-size: contain;
          width:280px;
          height: 239px;

        }
      }
      &.not-much {
        border-bottom: none;
        min-height: 190px;
        .thermometer {
          position: absolute;
          right:2%;
          top: -70px;
          background: url(../images/thermometer.svg) center center no-repeat transparent;
          background-size: contain;
          width:300px;
          height: 292px;
        }
      }
    }
  }

  #data {
    background: none;
    margin-top: 0;
    margin-bottom: 100px;
    .data {
      margin-top: 0;
      padding-top:0;
      border-bottom: none;
      .data-container {
        clear: both;
        color: white;
        text-align: left;
        .font-size(16);
        font-weight: bold;
        font-weight: 800;
        text-transform: uppercase;
        padding: 20px 10px;
        ul {
          margin: 0 auto;
          display: block;
          text-align: center;
          li {
            list-style: none;
            display: inline-block;
            text-align: left;

            a {
              display: inline-block;
              color: white;
              .border-radius(8px);
              margin: 0 10px 10px;
              width: 60%;
              padding: 12px 14px 12px 60px;
              background: @blue url(../images/doc-icons.svg) 6px 9px no-repeat;
              &:hover {
                text-decoration: none;
                background-color: @blueDark;
              }
            }
            &.pdf a {
              background-position: 6px -60px;
            }
            span {
              .font-size(12);
              font-weight: normal;
              display: block;
              text-transform: none;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: #333334;
  #gradient.vertical-three-colors(#222,#333,3%,#343539);
  padding: 20px 0 80px;
  text-shadow: 0 -1px 0 black;
  h4 {
    color: white;
    text-transform: uppercase;
  }
  ul {
    margin-left: 0;

    li {
      color: @grayLight;
      .font-size(14);
      list-style: none;
      float: left;
      margin-right: 10%;
      h5 {
        text-transform: uppercase;
        .font-size(12);
        margin: 20px 0 5px;
      }
      ul > li {
        float: none;
      }
    }
  }
}

// IE8 hacks



.lt-ie9 {
  .no-ie {
    display:none;
  }
  #main {
    .subsection {
      &.spending {
        .bar-chart ul li {
          margin-left: 0;
        }
      }
      &.cost {
        .left li.pp {
          background-image: url(../images/events-icons.png);
        }
      }
      &.alcohol {
        .bottle {
          background-image: url(../images/bottle.png);
        }
      }
      &.australia {
        .map {
          background-image: url(../images/aus-map.png);
        }
      }
      &.not-much {
        .thermometer {
          background-image: url(../images/thermometer.png);
        }
      }
    }
  }
}

// Bar chart styles
.attendees .chart,
#perperson-chart {
  font-size: 1rem !important;
  .axis path, .axis line {
    fill: none;
    stroke: #e5e5e5;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: @blue;
  }

  .y.axis path {
    stroke: none;
  }

  .x.axis line {
    stroke: none;
  }

  .x.axis text,
  .y.axis text {
    fill: @grayLight;
  }

  .y.axis text {
    font-style: italic;
  }

  .x.axis text {
    font-weight: bold;
    .font-size(12);
  }
}
