.loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white url('/images/spinner.gif') center center no-repeat;
  .box-shadow(inset 0 0 180px rgba(0,0,0,0.1));
  z-index: 9999;
}

.navbar {
  margin-bottom: 0;
  .box-shadow(0 1px 0 rgba(255,255,255,0.08));
  &.special-feature .brand {
    background-size: auto;
    .transition(all 200ms linear);
  }
}


#main {
  @blueDark: #084975;
  @easing: cubic-bezier(0.645, 0.045, 0.355, 1.000);

  .container {
    max-width: 1100px;
    width: 95%;
    .transition(all 200ms linear);
  }
  section {
    margin-top: 20px;
    margin-bottom: 60px;
    background: url(../images/fade.png) no-repeat bottom center transparent;
    background-size:100% 12px;
    .transition(all 200ms linear);
  }
  h1,h2,h3,h4,h5,p,strong,em {
    .transition(all 200ms linear);
  }

  h3 {
  font-family: @serifFontFamily;
  .font-size(36);
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
    &.line {
      width: 100%;
      margin: 0;
        &:before {
          position: relative;
          top: 20px;
          z-index: 1;
          display: block;
          border-bottom: 1px solid #333;
          content: '';
        }
        span {
          position: relative;
          z-index: 2;
          display: inline-block;
          padding: 0 10px;
          background-color: #fff;
        }
    }
  }

  p {
    .font-size(18);
    line-height: 1.4;
    text-align: center;
    margin: 10px 0 15px;
  }

  .btn-group {
    margin: 10px auto;
    display: block;
    width: 100%;
    clear: both;
    .btn {
      background-color: white;
      border: 1px solid #e5e5e5;
      .box-shadow(none);
      color: @blue;
      padding: 9px 11px 7px;
      &:hover, &.active {
          color: @grayDark;
        }
      &.active {
        color: @grayDark;
        background-color: #f5f5f5;
        .box-shadow(inset 0 2px 8px #ddd);
        &:hover, &.active {
          cursor: default;
        }
      }
    }
  }


  // TITLE
  #title {
    background: url(../images/pills.jpg) center top no-repeat #1b1b1b;
    background-size: cover;
    width: 100%;
    height: 100%;
    height: 500px;
    text-align: center;
    margin: 0 0 20px;
    padding-bottom: 60px;
    color:white;
    .box-shadow(inset 0 -10px 45px -10px rgba(0,0,0,.8));
    text-shadow: 0 -2px 0 rgba(0,0,0,.2);
    h1 {
      .font-size(120);
      font-family: @sansFontFamily;
      font-weight: 800;
      letter-spacing: -0.03em;
      margin-top: 200px;
      margin-bottom: 0;
      font-style: initial;
    }
    h2 {
      margin: 0 auto;
      .font-size(22);
      line-height: 1.2;
      font-weight: normal;
    }
  }


  // NAVIGATION

  .nav-col .nav {
    &.affix {
      position: fixed;
      width: 220px;
      top: 10px;
    }
      ul.nav-desktop {
        margin: 20px 0 0;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        list-style: none;
        border: 1px solid #e5e5e5;
        .border-radius(8px);
        behavior: url(../js/libs//PIE.htc);
        overflow: hidden;
        width: 220px;

      li {
        border-bottom: 1px solid #e5e5e5;
        position: relative;
        background-color: white;
        &:first-child {
          .border-top-radius(6px);
          behavior: url(../js/libs//PIE.htc);
        }
        &:last-child{
          border-bottom: none;
          .border-bottom-radius(6px);
          behavior: url(../js/libs//PIE.htc);
        }
        a {
          display: block;
          padding: 10px 14px;
          background-color: white;
          &:hover, &.active {
            text-decoration:none;
            background-color: #f5f5f5;
          }
          &:first-child {
            .border-top-radius(6px);
            behavior: url(../js/libs//PIE.htc);
          }
          &:last-child{
            .border-bottom-radius(6px);
            behavior: url(../js/libs//PIE.htc);
            overflow: hidden;
          }
        }
        &.active a {
          color: #222;
          background: url(../images/nav-arrow.png) no-repeat 95% center transparent;
          &:hover, &.active {
            cursor: default;
          }
        }
      }
    }
    ul#related {
      margin: 20px 0 0;
      width: 220px;
      background-color: white;
      .border-radius(6px);
      li {
        list-style: none;
        padding: 8px 4px 8px 10px;
        border-bottom: 1px solid #e5e5e5;

        &:hover, &:active {
          text-decoration:none;
          background-color: #f5f5f5;
        }

        a {
          color:@grayDarker;
        }


        h3 {
          text-align: left;
          .font-size(14);
          font-family: @sansFontFamily;
          margin-bottom: 0;
        }
        h5 {
          font-weight: normal;
          .font-size(12);
        }
        img {
          float: left;
          margin-right: 10px;
          width: 60px;
        }
        p, p.by-line {
          display: none;
        }
      }
      &:after {
        content: '';
        display: block;
        width: 220px;
        height: 10px;
        background: url(../images/fade.png) no-repeat center top transparent;
        background-size:100% 12px;
      }
    }

  }

  // MOBILE NAVIGATION

  #nav-mob {
    text-align: center;
    .opacity(0);
    height: 0;
    text-shadow:none;
      .nav {
        display: block;
        height: 33px;
        width: 100%;
        background-color: white;
        margin: 0 auto;
        text-align: center;
        z-index: 999;
        margin-top: 10px;
        padding-top: 15px;
        li {
          margin: 0;
          list-style: none;
          display: inline-block;
          .font-size(12);
          font-weight: bold;
          text-transform: uppercase;
          padding: 0px 6px 0 5px;
          border-right: 1px solid #e5e5e5;
          .sml {
            display: none;
          }
          a:hover {
            background-color: transparent;
          }
          &:last-child {
            border: none;
          }
          &.active a {
            color: #222;
            &:hover, &.active {
              cursor: default;
              background-color: none;
            }
          }
        }
      }
  }

  // SECTIONS
  #introduction {
    text-align: center;
    padding-bottom: 60px;
    p {
      padding: 0 5% 10px;
    }
  }


  #status {
    padding-bottom: 60px;
    p {
        .font-size(14);
      }
    .btn {
      display: block;
      width: 272px;
      margin: 10px auto 20px;
      padding: 8px;
      border: none;
      background-color: @blue;
      .box-shadow(none);
      .font-size(16);
      color: white;
      .border-radius(4px);
      behavior: url(../js/libs//PIE.htc);
      &:hover {
        background-color: @blueDark;
      }

    }

    table {
      tbody {
        border-bottom: 1px solid @tableBorder;
      }
      &.table-hover tbody tr:hover td,
      &.table-hover tbody tr:hover th {
        background-color: #f9f9f9;
        .box-shadow(inset 0 3px 4px -2px #e5e5e5);
      }
      tr {
        display: inline-table; //Fix for background image repeats
        width: 100%;
        &:first-child {
          background: url(../images/fade.png) no-repeat center top transparent;
          background-size:100% 12px;
        }
        &.incomplete {
          background: url(../images/table-bg.png) repeat-y top right transparent;
          &.ninety {
            background-size: 10% auto;
          }
          &.eighty {
            background-size: 20% auto;
          }
        }
        td, th {
          .font-size(20);
          font-weight: 700;
          font-style: italic;
          line-height: 1;
          color: @grayLight;
          padding: 20px 10px;
          vertical-align: middle;
          &.company {
            color: @grayDark;
            font-style: normal;
            width: 35%;
            .font-size(22);
          }
          &.dollars {
            width: 18%;
          }
          &.attendees {
            width: 13%;
          }
          &.events {
            width: 10%;
          }
          &.data {
            width: 10%;
          }
          &.site {
            .font-size(11);
            font-weight: normal;
            font-style: normal;
            text-transform: uppercase;
            text-align: right;
            width: 15%;
          }
        }
        td.company {
          text-transform: capitalize;
        }
      }
      thead {
        tr:last-child {
          border: none;
        }
        tr:first-child {
          background: none;
        }
        th, th.company, th.site {
          vertical-align: bottom;
          color: @grayLight;
          .font-size(11);
          font-weight: normal;
          font-style: italic;
          line-height: 1;
        }
      }
    }
  }


  .subsection {
    margin-bottom: 0;
    padding: 40px 0 50px;
    border-bottom: 1px solid @grayLighter;
    position: relative;
    overflow: hidden;

    strong, em {
      .font-size(20);
      line-height: 1.1;
    }
    h4 {
      font-weight: bold;
      font-weight: 800;
      font-style: italic;
      letter-spacing: -0.06em;
      margin: 0 0 6px;
      &.large {
        .font-size(120);
      }
      &.xlarge {
        .font-size(160);
        letter-spacing: -0.07em;
      }
      &.graph-title {
        font-style: normal;
        font-weight: normal;
        letter-spacing: initial;
        margin-top: 20px;
      }
    }
    h5 {
      .font-size(12);
      text-transform: uppercase;
      margin-top: 0;
    }
    .left, .right {
      width: 48%;
      float: left;
      margin-bottom: 20px;
    }
    .left {
      text-align: right;
      margin-right: 2%;
    }
    .right {
      margin-left: 2%;
    }
    p {
        text-align: center;
        &.subhead {
          .font-size(16);
          color: #777;
          padding: 0 8% 0;
          em {
            .font-size(16);
          }
        }
        &.note {
          .font-size(12);
          font-style: italic;
          color: @grayLight;
          padding: 0 8% 0;
          clear: both;
        }
      }

    &.spending {
      overflow: hidden;
      text-align: center;
      h4.xlarge {
        .font-size(146);
      }
    }

    &.total {
      text-align: center;
      height: 290px - 90px;
      .pill {
        margin: 0 auto;
        position: relative;
        background: @pink;
        width: 600px;
        height: 200px;
        .border-radius(106px);
        behavior: url(../js/libs//PIE.htc);
        z-index: 1;
        overflow: hidden;
        .box-shadow(0 10px 30px -10px #999);
        h4, strong {
          color: white;
          display: inline-block;
          line-height: 1;
          text-shadow: 0 -1px 0 rgba(0,0,0,.2);
          z-index: 100;
        }
        h4 {
          margin: -16px 0 4px;
          .font-size(140);
        }
        strong {
          margin: 24px 0 0;
          font-weight: bold;
          font-style: normal;
          }
        span {
          display: block;
          position: absolute;
          top:0;
          right: 0;
          width: 50%;
          height: 200px;
          background: @blue;
          z-index: -1;
          .border-right-radius(106px);
          behavior: url(../js/libs//PIE.htc);
        }
        &:after {
          content: '';
          position: absolute;
          display: block;
          left: 50%;
          top: 0;
          width: 0;
          height: 100%;
          border-left: 1px solid rgba(0,0,0,.2);
          border-left: 1px solid rgba(255,255,255,.2);
          z-index: -1;
        }
        &:before {
          content: '';
          position: absolute;
          .opacity(25);
          display: block;
          background: white;
          left: 15%;
          top: 25%;
          width: 70%;
          height: 10%;
          z-index: 1;
          .border-radius(10px);
          .box-shadow(0 0 30px 20px white);
        }
      }
      em {
        .font-size(16);
        font-style: normal;
      }
      // Animations
      .csstransforms.no-touch & {
        &.is-visible {
          .pill {
            .opacity(100);
            margin-top: 0;
            strong, h4 {
              .opacity(100);
            }
          }
          em {
              .opacity(100);
            }
          }
          .pill {
            position: relative;
            margin-top: -280px;
            .opacity(0);
            .transition(all .5s .2s @easing);

            strong, h4 {
              .opacity(0);
              .transition(opacity .5s .6s @easing);
            }
          }
          em {
            .opacity(0);
            .transition(opacity .5s 1s @easing);
          }
        }
        &.is-visible {
          .pill {
            .opacity(100);
            margin-top: 0;
            strong, h4 {
              .opacity(100);
            }
          }
          em {
              .opacity(100);
            }
        }

    }

    &.total-attendees {
      .text {
        margin-left: 300px;
        h4.large {
          .font-size(90);
        }
        em {
          display:block;
          margin-top: 10px;
        }
      }
      .doctor-only {
        position: absolute;
        bottom: 0;
        background: url(../images/doctor-only.svg) left bottom no-repeat transparent;
        background-size: contain;
        width: 280px;
        height: 230px;
      }
      .nurse-only {
        position: absolute;
        bottom: 0;
        background: url(../images/nurse-only.svg) left bottom no-repeat transparent;
        background-size: contain;
        width: 280px;
        height: 210px;
        margin-left: 130px;
        }
      }
      // Animations
      .csstransforms.no-touch & {
        &.is-visible {
          .doctor-only, .nurse-only {
            .opacity(100);
            bottom: 0;
          }
        }
        .doctor-only {
          bottom: -300px;
          .opacity(0);
          .transition(all .5s 200ms ease-out);
        }
        .nurse-only {
          bottom: -300px;
          .opacity(0);
          .transition(all .5s 600ms ease-out);
        }
        &.is-visible {
          .doctor-only, .nurse-only {
            bottom: 0;
            .opacity(100);
          }
        }
    }

    &.daily {
      height: 410px - 90px;
      position: relative;
      h4 {
        float: left;
        margin: 28% 14px -4px 12%;
      }
      em {
        float: left;
        width: 35%;
        margin-top: 38%;
        font-weight: bold;
      }
      p {
        clear: both;
        .font-size(14);
        width: 70%;
        margin: 0 auto;
      }
      .calendar {
        position: relative;
        background: url(../images/calendar.svg) center center no-repeat transparent;
        background-size: contain;
        width: 370px;
        height: 318px;
        margin: 0 auto;
        .box-shadow(0 10px 20px -10px rgba(0,0,0,.5));
        .rotate(-5deg);
        -ms-transform: rotate(0); //Cause IE sucks
      }
      // Animations
      .csstransforms.no-touch & {
        &.is-visible {
          .calendar {
            .opacity(100);
            margin-top:0;
            .rotate(-5deg);
            -ms-transform: rotate(0); //Cause IE sucks
            h4, em, p {
              .opacity(100);
            }
          }
        }
        .calendar {
          margin-top: -300px;
          .opacity(0);
          .rotate(-25deg);
          .transition(all .6s .8s @easing);
            h4, em, p {
              .opacity(0);
              .transition(opacity .6s 1.2s @easing);
            }
          }
        }
      &.is-visible {
        .calendar {
          .opacity(100);
          margin-top:0;
          .rotate(-5deg);
          -ms-transform: rotate(0); //Cause IE sucks
          h4, em, p {
            .opacity(100);
          }
        }
      }
    }

    &.australia {
      text-align: center;
      strong {
        display: block;
        margin-bottom: 10px;
      }
      .map {
        position: relative;
        background: url(../images/aus-map.svg) center center no-repeat transparent;
        background-size: contain;
        width: 575px;
        height: 440px;
        margin: 0 auto;
        ul {
          margin: 0;
          position: relative;
          height: 440px;
          li {
            .font-size(18);
            font-weight: bold;
            list-style: none;
            text-align: left;
            line-height: .9;
            color: white;
            position: absolute;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
            span {
              .font-size(40);
              font-weight: bold;
              font-weight: 800;
              font-style: italic;
              display: block;
              letter-spacing: -0.03em;
            }
            &#state-nt {
              margin-top: 106px;
              left:44%;
              color:@pink;
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
              .csstransforms.no-touch & {
                .transition(opacity .6s .02s @easing);
              }
            }
            &#state-qld {
              margin-top: 123px;
              right:14%;
            }
            &#state-nsw {
              margin-top: 234px;
              right: 8%;
            }
            &#state-act {
              margin-top: 298px;
              right: -9px;
              color:@grayDark;
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
              .font-size(12);
              span {
                .font-size(24);
              }
            }
            &#state-vic {
              margin-top: 315px;
              right: 17%;
              .font-size(12);
              span {
                .font-size(24);
              }
            }
            &#state-tas {
              margin-top: 392px;
              right: 13%;
              color:@pink;
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
              .font-size(12);
              span {
                .font-size(24);
              }
            }
            &#state-sa {
              margin-top: 202px;
              right:36%;
              color:@pink;
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
            }
            &#state-wa {
              margin-top: 157px;
              left:13%;
              color:@pink;
              text-shadow: 0 1px 0 rgba(255,255,255,.5);
            }
          }
        }
      }
      // Animations
      .csstransforms.no-touch & {
        &.is-visible {
          .map ul li {
            &#state-nt, &#state-qld, &#state-nsw, &#state-act, &#state-vic, &#state-tas, &#state-sa, &#state-wa {
              .opacity(100);
            }
          }
        }
        .map ul li {
          &#state-nt {
            .opacity(0);
            .transition(opacity .6s .02s @easing);
          }
          &#state-qld {
            .opacity(0);
            .transition(opacity .6s .1s @easing);
          }
          &#state-nsw {
            .opacity(0);
            .transition(opacity .6s .2s @easing);
          }
          &#state-act {
            .opacity(0);
            .transition(opacity .6s .3s @easing);
          }
          &#state-vic {
            .opacity(0);
            .transition(opacity .6s .4s @easing);
          }
          &#state-tas {
            .opacity(0);
            .transition(opacity .6s .5s @easing);
          }
          &#state-sa {
            .opacity(0);
            .transition(opacity .6s .6s @easing);
          }
          &#state-wa {
            .opacity(0);
            .transition(opacity .6s .7s @easing);
          }
        }
      }
      &.is-visible {
        .map ul li {
          &#state-nt, &#state-qld, &#state-nsw, &#state-act, &#state-vic, &#state-tas, &#state-sa, &#state-wa {
            .opacity(100);
          }
        }
      }
    }
    &.world {
      text-align: center;
      height: 440px - 90px;

      ul#countries {
        width:605px;
        margin: 20px auto 0;
        position: relative;
        li {
          list-style: none;
          text-align: left;
          .font-size(18);
          display: block;
          float: left;
          margin: 140px 30px 10px;

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            margin-left: -10px;
            width: 198px;
            height: 118px;
            background: url(../images/postcards.svg) center -176px no-repeat transparent;
            .box-shadow(0 4px 8px -4px black);
            .rotate(5deg);
            -ms-transform: rotate(0); //Cause IE sucks
          }
          &.new-zealand:before {
            background-position: left -1px;
            .rotate(-8deg);
            -ms-transform: rotate(0); //Cause IE sucks
          }
          &.germany:before {
            background-position: left -348px;
            .rotate(-2deg);
            -ms-transform: rotate(0); //Cause IE sucks
          }
          dl {
            float: left;
            margin: 0;

            dt {
              font-style: normal;
              font-weight: normal;
              text-transform: uppercase;
              .font-size(11);
              margin-top: 4px;
              line-height: 1.2;
              &:first-child {
                display: none;
              }
            }
            dd {
              font-style: italic;
              font-weight: bold;
              margin-left: 0;
              line-height: 1.2;
              &:first-of-type {
                font-style: normal;
                .font-size(20);
                padding-bottom: 4px;
              }
            }
          }
        }
      }
      // Animations
      .csstransforms.no-touch & {
        &.is-visible {
          ul#countries li {
            &:before {
              .opacity(100);
              top: 0;
              .rotate(5deg);
              -ms-transform: rotate(0); //Cause IE sucks
            }
            &.new-zealand:before {
              .opacity(100);
              top: 0;
              .rotate(-8deg);
              -ms-transform: rotate(0); //Cause IE sucks
            }
            &.germany:before {
              .opacity(100);
              top: 0;
              .rotate(-2deg);
              -ms-transform: rotate(0); //Cause IE sucks
            }
          }
        }
        ul#countries li {
            &:before {
              .opacity(0);
              top: -400px;
              .rotate(125deg);
              .transition(all .6s 0 @easing);
              -ms-transform: rotate(0); //Cause IE sucks
            }
            &.new-zealand:before {
              .opacity(0);
              top: -400px;
              .rotate(125deg);
              .transition(all .7s 200ms @easing);
              -ms-transform: rotate(0); //Cause IE sucks
            }
            &.germany:before {
              .opacity(0);
              top: -400px;
              .rotate(125deg);
              .transition(all .5s 600ms @easing);
              -ms-transform: rotate(0); //Cause IE sucks
            }
          }
        }
      &.is-visible {
        ul#countries li {
          &:before {
            .opacity(100);
            top: 0;
            .rotate(5deg);
            -ms-transform: rotate(0); //Cause IE sucks
          }
          &.new-zealand:before {
            .opacity(100);
            top: 0;
            .rotate(-8deg);
            -ms-transform: rotate(0); //Cause IE sucks
          }
          &.germany:before {
            .opacity(100);
            top: 0;
            .rotate(-2deg);
            -ms-transform: rotate(0); //Cause IE sucks
          }
        }
      }
    }

    &.attendees {
      text-align: center;
    }
    &.disease {
      text-align: center;
      .bar-chart {
        ul {
          margin: 20px 0 0;
            li {
            text-align: left;
            .font-size(24);
            line-height: 1.1;
            text-shadow: 0 1px 0 white;
            position: relative;
            width: 85%;
            list-style: none;
            padding: 6px 6px 6px 12px;
            font-style: italic;
            background: url(../images/spending-bg.png) top left no-repeat;
            margin-bottom: 14px;
            margin-left: 10%;
            &:before {
              content: '';
              position: absolute;
              display: block;
              margin-left: -55px;
              top: 0;
              width: 40px;
              height: 38px;
              background: url(../images/totals-icons.svg) left 0 no-repeat;
            }
            &:nth-child(2) {
              &:before {
                background-position: left -70px;
              }
            }
            &:nth-child(3) {
              &:before {
                background-position: left -143px;
              }
            }
            &:nth-child(4) {
              &:before {
                background-position: left -287px;
              }
            }
            &:nth-child(5) {
              &:before {
                background-position: left -214px;
              }
            }
            strong {
              .font-size(24);
              text-transform: Capitalize;
            }
            span {
              position: absolute;
              color: rgba(0,0,0,0.4);
              right: 6px;
            }
          }
        }
      }
    }

    &.cost {
      border-bottom: none;
      .right {
        text-align: left;
        margin-bottom: 50px;
          h5 {
            margin-bottom: 0;
            margin-top: 5px;
          }
          ul {
            margin: 0;
          }
          li.pp {
          float: left;
          .font-size(16);
          line-height: 1;
          text-transform: uppercase;
          font-style: italic;
          list-style: none;
          padding: 13px 10px 0 50px;
          background: url(../images/events-icons.svg) left 12px no-repeat;
          min-width: 110px;

          &.twenty {
            background-position: left -65px;
            padding-right: 0;
          }
          &.fifty {
            background-position: left -235px;
          }
          &.over {
            background-position: left -155px;
            padding-right: 0;
          }
          strong {
            display: block;
            .font-size(28);
            font-weight: bold;
            font-weight: 800;
            line-height: .9;
          }
          span {
            .font-size(12);
          }
        }
      }
      .bottle-container {
        border-top: 1px solid #e5e5e5;
        margin: 20px 0 40px;
        clear: both;
        padding-top: 40px;
        .bottle {
          color: white;
          margin: 0 auto;
          position: relative;
          height: 170px;
          width: 600px;
          background: url(../images/bottle-no-drip.svg) center center no-repeat;
          background-size: contain;
          .dripAnimation (@name) {
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-duration: 2s;
            -webkit-animation-name: @name;
            -webkit-animation-timing-function: ease-in-out;
            -moz-animation-iteration-count: infinite;
            -moz-animation-duration: 2s;
            -moz-animation-name: @name;
            -moz-animation-timing-function: ease-in-out;
            -o-animation-iteration-count: infinite;
            -o-animation-duration: 2s;
            -o-animation-name: @name;
            -o-animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            animation-name: @name;
            animation-timing-function: ease-in-out;
          }
          .drip-container {
            position: absolute;
            width: 80px;
            height: 60px;
            right: 0;
            bottom: 4px;
            overflow: hidden;
          }
          .drip {
            position: absolute;
            width: 14px;
            height: 25px;
            background: url(../images/drip.svg) center top no-repeat;
            background-size: contain;
            right: 28px;
            bottom: 31px;
            .dripAnimation(drip);
          }

          .text-container {
            position: relative;
            width: 100%;
            margin-left: 22px;
          }
          h4 {
            sup {
              .font-size(90);
              padding-left: 16px;
            }
          }
          em {
            position: absolute;
            font-weight: bold;
            left: 185px;
            margin-top: -65px;
            width: 160px;
          }
        }
      }
      // Animations
      .keyframesDrip() {
        from {
          bottom: 31px;
          width: 0;
          right: 35px;
        }

        20% {
          bottom: 32px;
          width: 7px;
          right: 32px;
        }

        90% {
          bottom: 32px;
        }

        100% {
          bottom: -10px;
        }
      }
      @-webkit-keyframes drip { .keyframesDrip(); }
      @-moz-keyframes drip { .keyframesDrip(); }
      @-ms-keyframes drip { .keyframesDrip(); }
      @-o-keyframes drip { .keyframesDrip(); }
      @keyframes drip { .keyframesDrip(); }

      .csstransforms.no-touch & {
        &.is-visible {
          .bottle .text-container {
            .opacity(100);
          }
        }
        .bottle .text-container {
            .opacity(0);
            .transition(all .5s .20s @easing);
          }
        }
      &.is-visible {
        .bottle .text-container {
          .opacity(100);
        }
      }
      // Animations
      .csstransforms.no-touch & {
        &.is-visible {
          .right li.pp {
            .opacity(100);
          }
        }
        .right li.pp {
          .opacity(0);
          .transition(opacity .6s 40ms @easing);
          &.twenty {
            .transition(opacity .6s 140ms @easing);
          }
          &.fifty {
            .transition(opacity .6s 240ms @easing);
          }
          &.over {
            .transition(opacity .6s 340ms @easing);
          }
        }
      }

      &.is-visible {
        .right li.pp {
          .opacity(100);
        }
      }
      #perperson-chart {
        clear: both;
        padding-top: 40px;
        text-align: center;
        background: url(../images/fade.png) no-repeat center top transparent;
        background-size:100% 12px;
        .btn-group {
          margin-top: 20px;
        }
      }
    }
  }



  #dont-know {
    overflow: hidden;
    .subsection {
      position: relative;
      overflow:visible;
      .text {
        max-width: 60%;
        margin-left: 2%;
        p,strong, em {
          .font-size(24);
          line-height: 1.3;
          text-align: left;
        }
      }
      &.doctors {
        height: 310px - 90px;
        h3.line {
          margin-bottom: 40px;
        }
        .doctor {
          position: absolute;
          right:2%;
          top: 100px;
          background: url(../images/doctor.svg) center center no-repeat white;
          background-size: 96% auto;
          width:220px;
          height: 200px;
          border: 1px solid #e5e5e5;
          .border-radius(2px);
          behavior: url(../js/libs//PIE.htc);
          .box-shadow(0 1px 3px #e5e5e5);
          .rotate(5deg);
          -ms-transform: rotate(0); //Cause IE sucks
          h4 {
            margin-top: 22%;
            margin-left: 42%;
            color: @blue;
            .font-size(80);
            font-style: normal;
            .opacity(20);
          }
        }
      }
      &.drugs {
        height: 210px - 90px;
        .text {
          float: none;
          margin-left: 300px;
        }
        .drug {
          position: absolute;
          left:2%;
          top: -15px;
          background: url(../images/drugs-in-question.svg) center center no-repeat transparent;
          background-size: contain;
          width:280px;
          height: 239px;
        }
      }
      &.not-much {
        border-bottom: none;
        height: 300px - 90px;
        .thermometer {
          position: absolute;
          right:0;
          top: -15px;
          background: url(../images/thermometer.svg) center center no-repeat transparent;
          background-size: contain;
          width:300px;
          height: 292px;
        }
      }
      // Animations
        .csstransforms.no-touch & {
          &.is-visible {
            &.doctors .doctor {
              .opacity(100);
              right:2%;
              .rotate(5deg);
              -ms-transform: rotate(0); //Cause IE sucks
              h4 {
                .opacity(20);
              }
            }
            &.drugs .drug {
              .opacity(100);
              left:2%;
              .rotate(0deg);
              -ms-transform: rotate(0); //Cause IE sucks
            }
            &.not-much .thermometer {
              .opacity(100);
              right:0;
              .rotate(0deg);
              -ms-transform: rotate(0); //Cause IE sucks
            }
          }
          &.doctors .doctor {
            .opacity(0);
            right: -280px;
            .translate3d(0,0,0);
            .rotate(-25deg);
            .transition(all .8s 200ms @easing);
            h4 {
                .opacity(0);
                .transition(opacity .8s 1s ease-out);
              }
          }
          &.drugs .drug {
            .opacity(0);
            left: -280px;
            .rotate(-25deg);
            -ms-transform: rotate(0); //Cause IE sucks
            .transition(all .9s 300ms @easing);
          }
          &.not-much .thermometer {
            .opacity(0);
            right: -380px;
            .rotate(55deg);
            .transition(all 1s 400ms @easing);
          }
        }
        &.is-visible {
          .doctor {
            .opacity(100);
            right:2%;
            .rotate(5deg);
            -ms-transform: rotate(0); //Cause IE sucks
            h4 {
              .opacity(20);
            }
          }
          &.drugs .drug {
            .opacity(100);
            left:2%;
            .rotate(0deg);
            -ms-transform: rotate(0); //Cause IE sucks
          }
          &.not-much .thermometer {
            .opacity(100);
            right:0;
            .rotate(0deg);
          }
        }
    }
  }

  #stories {
      border-bottom: 0;
      ul {
        margin-top:20px;
        margin-left: 0;
        padding-bottom: 40px;
        li {
          list-style: none;
          display: inline-block;
          width: 27%;
          padding: 2%;
          margin: 0 .75%;
          font-family: 'Georgia', serif;
          &:hover {
            background-color: #f5f5f5;
          }
          a {
            &:hover {
              text-decoration: none;
            }
            h5 {
              .font-size(20);
              font-family: @serifFontFamily;
              color: @grayDark;
              margin-bottom: 0;
            }
            p {
              .font-size(15);
              text-align: left;
              color: @gray;
              &.by-line {
                .font-size(13);
                font-style: italic;
                font-weight: normal;
                margin: 5px 0 0;
              }
            }
          }

        }
      }
  }

  #data {
    background: none;
    margin-top: 0;
    .data {
      margin-top: 0;
      padding-top:0;
      border-bottom: none;
      .data-container {
        clear: both;
        color: white;
        text-align: left;
        .font-size(16);
        font-weight: bold;
        font-weight: 800;
        text-transform: uppercase;
        padding: 20px 10px;
        ul {
          margin: 0 auto;
          display: block;
          text-align: center;
          li {
            list-style: none;
            display: inline-block;
            text-align: left;
            margin: 0 10px;
            a {
              display: inline-block;
              color: white;
              .border-radius(6px);
              behavior: url(../js/libs//PIE.htc);
              .box-shadow(inset 0 1px 3px rgba(0,0,0,0.4));
              margin: 0 0 10px;
              width: auto;
              min-width: 120px;
              padding: 12px 14px 12px 60px;
              background: @blue url(../images/doc-icons.svg) 6px 9px no-repeat;
              &:hover {
                text-decoration: none;
                background-color: @blueDark;
              }
            }
            &.pdf a {
              background-position: 6px -60px;
            }
            span {
              .font-size(11);
              font-weight: normal;
              display: block;
              text-transform: none;
            }
          }
        }
      }
    }
    .errata {
      border: 1px solid #e5e5e5;
      .border-radius(6px);
      text-align: center;
      padding: 30px;
      background-color: #f5f5f5;
      color: @gray;
      h4 {
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        .font-size(14);
      }
      p {
        .font-size(12);
      }
    }
  }
}

footer {
  background-color: #333334;
  #gradient.vertical-three-colors(#222,#333,3%,#343539);
  padding: 20px 0 80px;
  margin-top: 40px;
  text-shadow: 0 -1px 0 black;
  position: relative;
  h4 {
    color: white;
    text-transform: uppercase;
  }
  .top a {
    .font-size(12);
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    position: absolute;
    right: 10%;
    top: -34px;
    background-color: #222;
    padding: 10px 14px 6px;
    .border-top-radius(6px);
    &:hover {
      text-decoration: none;
      color: @grayLighter;
    }
  }
  ul {
    margin-left: 0;
    li {
      color: @grayLight;
      .font-size(14);
      list-style: none;
      float: left;
      margin-right: 10px;
      ul {
        margin-right: 40px;
      }
      h5 {
        text-transform: uppercase;
        .font-size(12);
        margin: 20px 0 5px;
      }
      ul > li {
        float: none;
      }
    }
  }
}



// Bar chart styles
.chart {
  min-height: 400px;
}

.attendees .chart,
#perperson-chart {
  font-size: 1rem !important;
  .axis path, .axis line {
    fill: none;
    stroke: #e5e5e5;
    shape-rendering: crispEdges;
  }

  .bar {
    .transition(fill 0.75s);
    fill: @blue;
  }

  .active .bar-info.post-render {
    display: block;
    .background {
      .opacity(70);
    }
  }

  .inactive .bar {
    fill: fadeout(@blue, 80%);
  }

  .bar-hit-area {
    fill: rgba(0,0,0,0.03);
  }

  .bar-info {
    fill: white;
    // Visibility hack is so we can get the size of the
    // text before hiding it
    visibility: hidden;
    position: relative;
    &.post-render {
      display: none;
      visibility: visible;
    }
    .title {
      .font-size(30);
      fill: #333;
      font-style: italic;
      font-weight: 800;
    }
    .background {
      fill: white;
      .opacity(80);
      stroke: #aaa;
    }
  }

  .y.axis path {
    stroke: none;
  }

  .x.axis line,.y.axis line {
    stroke: none;
  }

  .x.axis text,
  .y.axis text {
    fill: @grayLight;
  }

  .y.axis .tick text {
    font-style: italic;
  }

  .x.axis text {
    font-weight: bold;
    .font-size(12);
  }

  .y-axis-label {
    text-transform: uppercase;
    font-style: none;
  }
}


// Embedded XHTML docs in the SVG
#main .svg-foreign-object {
  background: transparent;
  &.bar-chart {
    // Info box text
    p {
      .font-size(11);
      line-height:1.1;
      font-weight: 500;
      margin: 0;
      padding-top: 5px;
      text-align: left;
    }
  }
}

.modal-scrollable {
  margin-top: 10%;
}
.modal, .modal.container, .modal.modal-overflow {
    width: 650px !important;
}
.modal {
  position: relative; // This appears necessary to get the modal scrolling
  .box-shadow(0 0 0 4px rgba(0,0,0,0.1));
  .border-radius(4px);
  behavior: url(../js/libs//PIE.htc);
  margin-top: 4px !important;
  .modal-header {
    border-bottom: 1px solid #e5e5e5;
    .box-shadow(0 4px 10px -6px rgba(0,0,0,0.4));
    padding: 30px 30px 20px;
    h5 {
      border: none;
      padding-top: 0;
      margin-top: 0;
    }
  }
  .modal-body {
    padding: 10px 30px 40px;
  }
  .close {
    .font-size(40);
    margin-top: 0;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .pull-left, .pull-right {
    width: 50%;
    &.quarter {
      width: 25%;
    }
  }
  h5 {
    .font-size(12);
    text-transform: uppercase;
    font-weight: normal;
    margin: 15px 0 0;
    padding-top: 15px;
    border-top: 1px solid #e5e5e5;
    color: @grayLight;
    clear: both;
  }
  h4 {
    .font-size(34);
    font-weight: 800;
    font-style: italic;
    margin: 0;
    &.sml {
      .font-size(18);
      font-weight: 600;
      margin-bottom: 0;
    }
  }
  h3 {
    .font-size(30);
    width:80%;
  }
  p {
    .font-size(14);
    line-height: 1.5;
    padding-right: 5%;
    &#company-blurb {
      font-style: italic;
    }
  }
  ul {
    margin-left: 0;
    li {
      list-style: none;
      .font-size(16);
      font-weight: bold;
      margin: 10px 0;
      display: block;
      max-width: 260px;
      span {
        font-weight: normal;
        font-style: italic;
        color:@gray;
        float: right;
      }
    }
  }
  .revenue {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    margin-bottom: 15px;
    h5 {
      border:none;
      margin-top: 0;
    }
  }
  #company-top-event {
    margin-top: 10px;
    td {
      border: 1px solid #e5e5e5;
      border-top: none;
      .font-size(11);
      text-transform: uppercase;
      line-height: 1.4;
      max-width: none;
      padding: 10px;
      margin: 0;
      font-weight: bold;
      vertical-align: top;
      &:first-of-type {
        border-top: 1px solid #e5e5e5;
      }
      span {
        display: block;
        .font-size(14);
        font-weight: normal;
        text-transform: none;
        font-style: normal;
        color: @grayDark;
        float: none;
      }
    }
  }
  ul#company-perperson {
    min-height: 50px;
    li.pp {
      float: left;
      .font-size(12);
      line-height: 1;
      text-transform: uppercase;
      font-style: italic;
      list-style: none;
      padding: 7px 11px 6px 52px;
      margin: 4px 0;
      background: url(../images/events-icons.svg) left 0 no-repeat;
      &.twenty {
        background-position: left -76px;
        padding-right: 0;
      }
      &.fifty {
        background-position: left -244px;
      }
      &.more {
        background-position: left -162px;
        padding-right: 0;
      }
      strong {
        display: block;
        .font-size(26);
        font-weight: bold;
        font-weight: 800;
        margin-bottom: 2px;
      }
      span {
        float:none;
      }
    }
  }
}


// IE8 hacks

.lt-ie9 {
  .no-ie {
    display:none;
  }
  #main {
    h1, h2, h3 {
      font-family: 'Georgia', serif;
    }
    .subsection {
      h4, h4.large, h4.xlarge {
        font-family: 'Arial', sans-serif;
      }
      &.spending {
        .bar-chart ul li {
          margin-left: 0;
        }
      }
      &.cost {
        min-height: 170px;
        .right li.pp {
          font-family: 'Arial', sans-serif;
          background-image: url(../images/events-icons.png);
        }
        .bottle {
          width: 650px;
          height: 185px;
          background-image: url(../images/bottle.png);
        }
      }
      &.daily {
        .calendar {
          background-image: url(../images/calendar.png);
        }
      }
      &.disease .bar-chart ul li {
        font-family: 'Arial', sans-serif;
      }
      &.total {
        .pill {
          background: url(../images/pill.png) center center no-repeat transparent;
          height: 200px;
          &:after, span {
            display: none;
          }
          &:before {
            display: none;
            .box-shadow(none);
          }
        }
      }
      &.total-attendees {
        background: url(../images/doctor+nurse.png) no-repeat bottom left transparent;
      }
      &.alcohol {
        .bottle {
          width: 650px;
          height: 185px;
          background-image: url(../images/bottle.png);
        }
      }
      &.australia {
        .map {
          font-family: 'Arial', sans-serif;
          background-image: url(../images/aus-map.png);
          ul li {
            &#state-nt, &#state-qld, &#state-nsw, &#state-act, &#state-vic, &#state-tas, &#state-sa, &#state-wa {
              .opacity(100);
            }
          }
        }
      }
      &.world {
        ul#countries li:before {
          background-image: url(../images/postcards.png);
        }
      }
    }
    #dont-know {
        .subsection{
          &.doctors {
            .doctor {
              background-image: url(../images/doctor.png);
            }
          }
          &.drugs {
            .drug {
              background-image: url(../images/drugs-in-question.png);
            }
          }
          &.not-much {
            .thermometer {
              background-image: url(../images/thermometer.png);
            }
          }
        }
      }
      #data {
        .data {
          .data-container {
            ul li a {
              background-image: url(../images/doc-icons.png);
            }
          }
        }
      }
  }
}

.animated {
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -ms-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.animated.hinge{
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  -ms-animation-duration:2s;
  -o-animation-duration:2s;
  animation-duration:2s;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
