// TABLET PORTRAIT
@media only screen and (max-width: 1020px) {
  .row-fluid .offset3 {
    margin: initial;
    margin-left: 0;
  }
  .row-fluid .span3.nav-col  {
    display: none;
    width: 0;
  }
}

// SMALL SCREEN

@media only screen and (max-width: 950px) {
  .navbar.special-feature {
    padding: 8px 20px;
    .brand.brand-center {

      background-position: left center;
      float: left;
      margin: 0;
    }
  }
  #main {
    .container {
      width: 90%;
    }
    #title {
      h1 {
        .font-size(60);
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .navbar.special-feature {
    .brand.brand-center {
      float: none;
      margin: 0 auto;
      width: 190px;
    }
  }
  #main {
    .container {
      width: 85%;
    }
    #title {
      margin-bottom: 20px;
      padding-bottom: 40px;
      h1 {
        .font-size(30);
        margin-bottom: 0;
      }
      h2 {
        .font-size(12);
      }
    }
    h3 {
        .font-size(20);
        &.line {
          &:before {
            top:10px;
          }
        }
    }
    #introduction {
      p {
        .font-size(14);
      }
    }
    #status {
      h3 {
        span {
          padding-right: 30px;
          background-size: 25px auto;
          background-position: right 0;
        }
      }

      table tr {
        td, th {
          &.company {
            width: 40%;
          }
          &.dollars {
            width: 23%;
            font-weight: normal;
          }
          &.attendees {
            width: 12%;
            font-weight: normal;
            display:none;
          }
          &.events {
            width: 10%;
            font-weight: normal;
          }
          &.data {
            width: 10%;
            font-weight: normal;
          }
        }

        td {
          .font-size(16);
        }
      }
    }
    .subsection {
      .left, .right {
        float:none;
        clear: both;
        width: 90%;
        margin: 0 auto;
        text-align: left;
      }
      .right {
        padding-top: 20px;
      }
      &.daily {
        ul {
          margin: 0;
        }
      }
      &.not-much {
        padding-right: 0;
      }
      &.alcohol {
        .bottle {
          width: auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 680px) {
  .navbar {
    margin-bottom: 10px;
    &.special-feature {
      padding: 2px 0;
      .special-feature-misc {
        display: none;
      }
    }
  }
  #main {
    .container {
      min-width: 290px;
    }
    #title {
      margin-bottom: 10px;
      padding-bottom: 40px;
    }
    #status {
      table tr {
        td,th {
          padding: 10px 2px;
        }
        td {
          .font-size(11);
        }
        td.site, th.site {
          display: none;
        }
      }
    }
    .subsection {
      strong,em {
        .font-size(18);
      }
      h4.large {
        .font-size(80);
      }
      h5 {
        text-align: center;
      }
      &.spending h4 {
        .font-size(44);
      }
      &.total {
        .pill {
          width: 295px;
          height: 110px;
          text-align: center;
          strong {
            margin: 9px 0 0 0;
            .font-size(14);
          }
          em {
            .font-size(14);
            margin-left: 0;
          }
          h4 {
            margin: -8px 0 0 0;
            .font-size(64);
          }
        }
      }
      &.spending {
        .left {
          text-align: center;
          max-width: 380px;
        }
        .right {
          margin-top: 20px;
        }
        .bar-chart {
          ul li {
            margin-left: 34px;
          }
        }
      }
      &.cost {
        .left {
          max-width: 380px;
          li.pp {
            padding-top: 20px;
            .font-size(12);
            padding-right: 2px;
            strong {
              .font-size(18);
            }
          }
        }
        .right {
          text-align: center;
          max-width: 340px;
          margin-bottom: 20px;
        }
      }
      &.alcohol {
        .bottle {
          width: 280px;
          padding-top: 30px;
          background-position: center bottom;
          .text-container {
            margin: -48px 0 0 6%;
            text-shadow: none;
            color: @pink;
            h4 {
              margin-left: -10px;
            }
            em {
              color: white;
              position: relative;
              left: 0;
              top: 17px;
            }
          }
        }
      }
      &.daily {
        li {
          .pill {
            width: 10px;
            height: 11px;
          }
        }
        p {
          text-align: center;
          padding-right: 0;
        }
        .right {
          max-width: 340px;
        }
      }
      &.australia {
        .map {
          width: 290px;
          height: 230px;
          ul li {
            .font-size(11);
            span {
              .font-size(16);
            }
            &:first-child {
              margin-top: 54px;
              left: 43%;
            }
            &:nth-child(2) {
              margin-top: 67px;
            }
            &:nth-child(3) {
              margin-top: 125px;
            }
            &:nth-child(4) {
              margin-top: 153px;
              right: -12px;
            }
            &:nth-child(5) {
              margin-top: 159px;
              right: 13%;
            }
            &:nth-child(6) {
              margin-top: 205px;
            }
            &:nth-child(7) {
              margin-top: 109px;
            }
            &:nth-child(8) {
              margin-top: 86px;
            }
          }
        }
      }
      &.not-much {
        height: auto;
        .text {
          float: none;
          max-width: none;
          text-align: center;
          strong,em {
            .font-size(18);
          }
        }
        .thermometer {
          position: relative;
          right: initial;
          top: initial;
          width: 100%;
          height: 240px;
        }
      }
    }
  }
}