

// SMALL SCREEN

@media only screen and (max-width: 980px) {
  .row-fluid .offset3,
  footer .offset3 {
    margin: initial;
    margin-left: 0;
  }
  .row-fluid .span3.nav-col  {
    display: none;
    width: 0;
  }
  .navbar.special-feature {
    padding: 8px 20px;
    .brand.brand-center {

      background-position: left center;
      float: left;
      margin: 0;
    }
  }
  #main {
    #nav-mob{
      display: block;
      z-index: 99;
      .nav {
        margin: 0;
        &.affix {
          position: fixed;
          top: -1px;
          left: 0;
          .box-shadow(0 3px 15px -5px rgba(0,0,0,0.5));
          border-bottom: 1px solid rgba(0,0,0,0.2);
        }
      }
    }
    .container {
      width: 90%;
    }
    #title {
      padding-bottom: 20px;
      h1 {
        .font-size(60);
      }
      h2 {
        margin-bottom: 10px;
      }
    }
    .subsection h4.large {
      .font-size(100);
    }
  }
  // Overwrite bootstrap modal
  .modal, .modal.container, .modal.modal-overflow {
    width: 650px !important;
    margin: 4px auto 0 !important;
  }
  .modal-body, .modal-overflow .modal-body  {
    height: 400px !important;
    overflow: auto !important;
  }
}

@media only screen and (max-width: 750px) {
  .navbar.special-feature {
    .brand.brand-center {
      float: none;
      margin: 0 auto;
      width: 190px;
    }
  }
  #main {
    .container {
      width: 85%;
    }
    #title {
      margin-top: 10px;
      margin-bottom: 40px;
      padding-bottom: 20px;
    }
    h3 {
        .font-size(20);
        &.line {
          &:before {
            top:10px;
          }
        }
    }

    #status {
      h3 {
        span {
          padding-right: 30px;
          background-size: 25px auto;
          background-position: right 0;
        }
      }

      table tr {
        td, th {
          &.company {
            width: 40%;
          }
          &.dollars {
            width: 23%;
            font-weight: normal;
          }
          &.attendees {
            width: 12%;
            font-weight: normal;
            display:none;
          }
          &.events {
            width: 10%;
            font-weight: normal;
          }
          &.data {
            width: 10%;
            font-weight: normal;
          }
        }

        td {
          .font-size(16);
        }
      }
    }
    .subsection {
      .left, .right {
        float:none;
        clear: both;
        width: 90%;
        margin: 0 auto;
        text-align: center;
      }
      .right {
        padding-top: 20px;

      }
      &.daily {
        ul {
          margin: 0;
        }
      }
      &.cost {
        .right {
          width: 60%;
          height: 145px;
          text-align: center;
          li {
            text-align: left;
          }
        }
      }
      &.total-attendees {
        background-size: auto 180px;
        background-position: center bottom;
        .text {
          text-align: center;
          margin-left: 0;
          margin-bottom: 135px;
          h4.large {
            .font-size(60);
          }
        }
      }
      &.alcohol {
        .bottle {
          width: auto;
        }
      }
      &.world {
      text-align: center;
        ul#countries {
          width:290px;
          li {
            .font-size(14);
            line-height: 1.2;
            position: relative;
            float: none;
            height: 94px;
            &:before {
              position: absolute;
              top:0;
              width: 154px;
              height: 90px;
              background-size: 100% auto;
              background-position: left -135px;
            }
            &.germany:before {
              background-position: left -269px;
            }
            dl {
              float: none;
              clear: both;
              padding-left: 160px;
              padding-top: 10px;
              height: 90px;
              position: relative;
                dt {
                  .font-size(12);
                  float: left;
                  margin-top: 0;
                  margin-right: 5px;
                }
                dd {
                  .font-size(12);
                  float: left;
                  &:first-of-type {
                    padding-bottom: 6px;
                    .font-size(14);
                    float: none;
                  }

              }
            }

          }
        }
      }
    }

    #dont-know {
      .subsection {
        .text {
            text-align: left;
            p,em, strong {
            .font-size(26);
            }
          }
        &.not-much {
          padding-right: 0;
        }
      }
    }
  }
  footer ul li {
    float: none;
  }
}
@media only screen and (max-width: 680px) {
  .navbar {
    margin-bottom: 10px;
    &.special-feature {
      padding: 2px 0;
      .special-feature-misc {
        display: none;
      }
    }
  }
  #main {
    p {
      .font-size(14);
    }
    section {
      margin-bottom: 0;
    }
    h3.line {
      margin-top: 0;
    }
    #title {
      h1 {
        .font-size(30);
        margin-bottom: 0;
      }
      h2 {
        .font-size(12);
      }
    }
    #nav-mob {
      .nav {

        li {
          .font-size(11);
          padding: 0px 4px 0 3px;
          .sml {
            display: inline;
          }
          .lge {
            display: none;
          }
        }
      }
    }
    .container {
      min-width: 290px;
    }
    #title {
      margin-bottom: 10px;
      padding-bottom: 20px;
    }
    #status {
      table tr {
        td,th {
          padding: 10px 2px;
        }
        td, td.company {
          .font-size(13);
        }
        td.site, th.site {
          display: none;
        }
      }
    }
    .subsection {
      strong,em {
        .font-size(18);
      }
      h4.large {
        .font-size(85);
        margin-left: -10px;
      }
      h4.xlarge {
        .font-size(110);
      }
      h5 {
        text-align: center;
      }
      p {
        &.subhead {
          .font-size(12);
          color: @grayLight;
          padding: 6px 8% 0;
        }
      }
      .btn-group {
        .btn {
          .font-size(11);
        }
      }
      &.spending h4 {
        .font-size(44);
        margin-top: 0;
      }
      &.total {
        .pill {
          width: 290px;
          height: 110px;
          text-align: center;
          strong {
            margin: 18px 0 0 0;
            .font-size(14);
          }
          em {
            .font-size(14);
            margin-left: 0;
          }
          h4 {
            margin: -8px 0 0 0;
            .font-size(64);
          }
          span {
            height: 110px;
          }
        }
      }
      &.spending {
        .left {
          text-align: center;
          max-width: 380px;
        }
        .right {
          margin-top: 20px;
        }

      }
      &.disease {
        .bar-chart {
          ul li {
            margin-left: 44px;
            width: 75%;
            .font-size(16);
            padding-top:11px;
            padding-bottom: 11px;
            margin-bottom: 6px;
            strong {
              .font-size(16);
            }
          }
        }
      }
      &.cost {
        .right {
          max-width: 380px;
          width: auto;
          height: 150px;
          padding-top: 10px;
          margin-bottom: 30px;
          ul {
            margin: 0 auto;
            width: 260px;
          }
          li.pp {
            padding-top: 20px;
            .font-size(12);
            padding-right: 2px;
            strong {
              .font-size(18);
            }
          }
        }
        .left {
          text-align: center;
          max-width: 340px;
        }
        #perperson-chart {
          margin-top: 20px;
          p {
          padding: 6px 0 0;
          }
        }
      }
      &.alcohol {
        .bottle {
          width: 280px;
          height: 135px;
          padding-top: 30px;
          background-position: center bottom;
          .text-container {
            margin: -48px 0 0 6%;
            text-shadow: none;
            color: @pink;
            h4 {
              margin-left: -10px;
              sup {
                .font-size(65);
              }
            }
            em {
              color: white;
              position: relative;
              left: 0;
              top: 17px;
            }
          }
        }
      }
      &.daily {
        h4 {
          margin-right: 8px;

        }
        p {
          text-align: center;
          padding-right: 0;
          .font-size(12);
          width: 90%;
        }
        em {
          .font-size(14);
        }
        .calendar {
          width: 260px;
          height: 224px;
        }
      }
      &.australia {
        .map {
          width: 290px;
          height: 230px;
          ul li {
            .font-size(11);
            span {
              .font-size(16);
            }
            &#state-nt {
              margin-top: 54px;
              left: 43%;
            }
            &#state-qld {
              margin-top: 67px;
            }
            &#state-nsw {
              margin-top: 123px;
              right: 11%;
            }
            &#state-act {
              margin-top: 148px;
              right: 0px;
              .font-size(11);
                span {
                  .font-size(16);
                }
            }
            &#state-vic {
              margin-top: 163px;
              right: 13%;
              .font-size(11);
                span {
                  .font-size(16);
                }
            }
            &#state-tas {
              margin-top: 205px;
            }
            &#state-sa {
              margin-top: 109px;
            }
            &#state-wa {
              margin-top: 86px;
            }
          }
        }
      }
    }
    #dont-know {
      .subsection {
        .text {
          float: none;
          max-width: none;
          text-align: center;
          margin-left: 0;
            p,strong,em {
              .font-size(18);
              text-align: center;
            }
          }
        &.doctors {
          height: auto;
          .doctor {
            position: relative;
            right: initial;
            top: initial;
            margin: 10px auto 0;
            width: 200px;
            height: 180px;
          }
        }
        &.drugs {
          height: auto;
          .text {
            margin-left: 0;
          }
          .drug {
            position: relative;
            right: initial;
            top: initial;
            margin: 10px auto 0;
            width: 51%;
            height: 200px;
          }
        }
        &.not-much {
          height: auto;
          .thermometer {
            position: relative;
            right: initial;
            top: initial;
            margin: 0 auto;
            width: 70%;
            height: 190px;
          }
        }
      }
    }
    #data{
      margin-bottom: 0;
      .data {
        margin-bottom: 0;
        padding-bottom: 20px;
        p {
          .font-size(14);
        }
        .data-container {
          ul li {
            float: none;
            width: 100%;
            margin: 0 0 10px;
            a {
              width: 70%;
            }
          }
        }
      }
    }
  }
    // Overwrite bootstrap modal
  .modal-scrollable {
    margin-top: 0;
    z-index: 9999;
  }
  .modal {
    .border-radius(0);
    border: none;
    .box-shadow(none);
    .modal-header {
      position: fixed;
      width: 90%;
      height: 40px;
      background-color: white;
      padding: 20px 5%;
      h5 {
        margin-top: 0;
      }
    }
    .modal-body {
      padding-top: 100px;
    }
    ul#company-perperson {
      min-height: 140px;
    }
    .pull-left, .pull-right {
      float: none;
      display: block;
      width: 100%;
      min-height: auto;
    }
  }

  .modal, .modal.container, .modal.modal-overflow {
    width: auto !important;
    margin: 0 !important;
    right: 0;
    left: 0;
  }
  .modal-body, .modal-overflow .modal-body  {
    height: auto !important;
    overflow: visible !important;
  }
}